<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="user-albums">
    <% albums.forEach((album) =>{ %>
      <div class="album">
        <h1>
          <%= album.name %>
        </h1>
        <h2>
          <%= album.artist %>
        </h2>
        <img src="<%= album.image %>">
      </div>
      <% }) %>
  </div>

  <form id="search-form">
    <input type="text" id="album-input" name="album" placeholder="Enter the album">
    <button type="submit" id="search-button">Search</button>
  </form>
  <div id="results"></div>

  <script src="/js/Lastfm.js"></script>
  <script src="/js/UI.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>